Repository voxpupuli/puppet-borg, pull requests merged in 2019-09, with the labels that each got.

#37 allow ssh port configuration
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
Labels: enhancement

#35 modulesync 2.8.0
  .github/CONTRIBUTING.md
  .msync.yml
  .sync.yml
  Gemfile
  spec/spec_helper.rb
Labels: modulesync

#38 release 1.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
