Repository voxpupuli/puppet-borg, pull requests merged in 2020-02, with the labels that each got.

#45 Add fedora 31 support
  data/Fedora.yaml
  metadata.json
  spec/classes/init_spec.rb
Labels: enhancement

#46 modulesync 2.12.0
  .github/CONTRIBUTING.md
  .msync.yml
  .rubocop.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
Labels: modulesync

#47 release 1.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
