Repository voxpupuli/puppet-borg, pull requests merged in 2021-12, with the labels that each got.

#136 Gemfile: switch back to usual voxpupuli-test release
  Gemfile
Labels: skip-changelog

#139 Make sure README links are not 404 outside of GitHub
  README.md
Labels: docs

#138 Add ability to specify compression method and level
  manifests/config.pp
  manifests/init.pp
  spec/classes/init_spec.rb
  templates/borg-backup.sh.epp
Labels: enhancement

#137 Add ability to disable borg prune call completly
  manifests/config.pp
  manifests/init.pp
  spec/classes/init_spec.rb
  templates/borg-backup.service.epp
  templates/borg-backup.sh.epp
Labels: enhancement

#140 Release 2.3.0
  CHANGELOG.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog

#142 Make sure /etc/borg contains the absolutebackupdestdir if it is set
  manifests/install.pp
  spec/classes/init_spec.rb
  templates/borg.epp
Labels: bug

#141 Surround mountpoints in configuration file with quotes, avoid whitespace prefix for exclude patterns
  spec/classes/init_spec.rb
  templates/backup-sh-conf.sh.epp
  templates/borg-backup.sh.epp
Labels: bug

#143 Release 2.3.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#144 modulesync 5.1.0
  .puppet-lint.rc
  .sync.yml
  Rakefile
Labels: modulesync

#146 Implement support for custom unit dependencies
  .fixtures.yml
  REFERENCE.md
  manifests/init.pp
  manifests/service.pp
  spec/classes/init_spec.rb
  templates/borg-backup.service.epp
Labels: enhancement

#147 Release 2.4.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
