Repository voxpupuli/puppet-borg, pull requests merged in 2022-04, with the labels that each got.

#148 modulesync 5.2.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  Dockerfile
  Gemfile
Labels: modulesync

#152 Add Debian 11 support
  metadata.json
Labels: enhancement

#154 Fedora: Drop support
  data/Fedora.yaml
  metadata.json
  spec/classes/init_spec.rb
  spec/spec_helper_acceptance.rb
Labels: backwards-incompatible

#150 Add support for snapshots using pre/post scripts
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  spec/classes/init_spec.rb
  templates/backup-sh-conf.sh.epp
  templates/borg-backup.sh.epp
Labels: backwards-incompatible

#155 Add configureable working directory from where the backup should be created
  REFERENCE.md
  manifests/config.pp
  manifests/init.pp
  templates/borg-backup.sh.epp
Labels: enhancement

#156 Drop support for Debian 9 since it's EoL
  metadata.json
Labels: backwards-incompatible

#157 Release 3.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#158 modulesync 5.2.0
  .fixtures.yml
  .github/CONTRIBUTING.md
  Gemfile
Labels: modulesync
