Repository voxpupuli/puppet-borg, pull requests merged in 2024-04, with the labels that each got.

#194 Add Ubuntu 22.04 support
  metadata.json
Labels: enhancement

#192 Drop Ubuntu 18.04 support
  metadata.json
Labels: backwards-incompatible

#195 modulesync 7.4.0
  .github/CONTRIBUTING.md
  .gitignore
  .msync.yml
  Dockerfile
Labels: modulesync

#196 modulesync 7.5.0
  .msync.yml
Labels: modulesync
